.header {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
}
.header__search_form {
  width: 100%;
  background-color: #685e5e;
  height: 40px;
  border-radius: 6px;
}
.header__search_form input[type="text"] {
  width: 80%;
  height: 30px;
  margin-right: 20px;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 16px;
  background-color: transparent;
}
.header_search_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 7.5px;
}
.header_search_icon {
  cursor: pointer;
}
