.app {
  width: 40%;
  min-width: 320px;
  max-width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.5);
}
.app_bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.app_clouds {
  display: flex;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;

  justify-content: space-between;
}
.app_weather {
  margin-top: 1rem;
}
.app-weather_img {
  margin-top: 10px;
}
span.unique,
.country-initials p:first-child {
  color: green;
  font-weight: 500;
}
